[submodule "Lab1/todo-app-original"]
	path = Lab1/todo-app-original
	url = git@github.com:gitmaxlla/todo-app-refactoring.git
[submodule "Lab1/todo-app-refactored"]
	path = Lab1/todo-app-refactored
	url = git@github.com:gitmaxlla/todo-app-refactoring.git
[submodule "Lab2/image-converter-api-original"]
	path = Lab2/image-converter-api-original
	url = git@github.com:gitmaxlla/image-converter-api-refactoring.git
[submodule "Lab2/image-converter-api-refactored"]
	path = Lab2/image-converter-api-refactored
	url = git@github.com:gitmaxlla/image-converter-api-refactoring.git
[submodule "Lab3/exercise_original"]
	path = Lab3/exercise_original
	url = git@github.com:harshmanocha/Refactoring.git
