[submodule "Lab1/todo-app-original"]
	path = Lab1/todo-app-original
	url = git@github.com:gitmaxlla/todo-app-refactoring.git
[submodule "Lab1/todo-app-refactored"]
	path = Lab1/todo-app-refactored
	url = git@github.com:gitmaxlla/todo-app-refactoring.git
[submodule "Lab2/image-converter-api-original"]
	path = Lab2/image-converter-api-original
	url = git@github.com:gitmaxlla/image-converter-api-refactoring.git
[submodule "Lab2/image-converter-api-refactored"]
	path = Lab2/image-converter-api-refactored
	url = git@github.com:gitmaxlla/image-converter-api-refactoring.git
[submodule "Lab3/exercise_original"]
	path = Lab3/exercise_original
	url = git@github.com:harshmanocha/Refactoring.git
[submodule "Lab4/refactored"]
	path = Lab4/refactored
	url = git@github.com:gitmaxlla/dijkstras-thing.git
[submodule "Lab4/original"]
	path = Lab4/original-with-comments/
	url = git@github.com:gitmaxlla/dijkstras-thing.git
[submodule "Lab4/original-with-comments"]
	path = Lab4/original-with-comments
	url = https://github.com/gitmaxlla/dijkstras-thing
